/* VARIÁVEIS */
  
/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
}



body{
    height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column; 
    background-color: #e4dede;
  }

.container{
    padding: 0 15px 0 15px;
}


#jogarDeNovo{
    display: none;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}

.flex-col-reverse{
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

.regras{
    display: none;
}

.corpo-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#numeroDeJogadas, #mensagemErro, #melhorPartida{
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 14px;
}

#numeroDeJogadas {
    margin: 15px 0 5px 0;
    background-color: rgb(51, 51, 107);
    color: rgb(241, 241, 241);
    border-radius: 3px;
}

#numeroDeJogadas p{
    padding: 10px 12px;
}

.corpo-jogo{
    display: none;
    width: 270px;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
}



.coluna-do-jogo{
    width: 90px;
    height: 230px;

}

.bloco-do-jogo{
    height: 50px;
    display: flex;
    border-radius: 25%;
    border: 3px solid black;
    transition: 0.2s;
}

#pecaUm{
    width: 25px;
    background-color: blue;
}

#pecaDois{
    width: 40px;
    background-color: purple;
}

#pecaTres{
    width: 60px;
    background-color: green;
}

 #pecaQuatro{
    width: 80px;
    background-color: red;
}        

.barra-de-fundo{
    position: absolute;
    z-index: -1;
    left: auto;
    right: auto;
    background-color: black;
    width: 10px;
    height: 230px;
} 



header{
    padding: 35px 15px;
    background-color: darkblue;
    color: rgb(238, 237, 237);
}

header h1{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.7px;
}

main h2{
    font-size: 18px;
    padding: 10px 5px;
    text-align: center;
}


.buttonsWrap{
    display: flex;
    justify-content: center;
}

main button{
    margin: 10px;
    padding: 8px 14px;
    background-color:rgb(38, 94, 197);
    border: 1px solid rgba(80, 80, 80, 0.5);
    color: rgb(238, 237, 237);
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
}

main button:focus{
    outline: none;
    border:none;
}

.regras p{
    margin: 4px;
 }
 
footer{
    background-color: darkblue;
    color: rgb(238, 237, 237);
    text-align: center;
    min-height: 80px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 600px){

    main ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    main li{
        width: 550px;
        display: flex;
        margin: 5px;
    }

    main h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 700px){

    header{
        padding: 30px 15px;
    }
    
    header h1{
        font-size: 55px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    main h2{
        font-size: 30px;
        margin-top: 10px;
    }

    main button{
        margin: 20px;
        padding: 16px 35px;
        background-color:rgb(38, 94, 197);
        border: 1px solid rgba(80, 80, 80, 0.5);
        color: rgb(238, 237, 237);
        font-size: 16px;
        border-radius: 3px;
        font-weight: bold;
    }

    main button:hover{
        background-color: crimson;
    }

    main ul{
        margin-left: 75px;
    }

    #numeroDeJogadas{
       margin-top: 30px;
       margin-bottom: 18px;
    }

    #numeroDeJogadas p{
        padding: 16px 20px;
    }

    footer{
        font-size: 18px;
    }


    .corpo-jogo{
        width: 340px;
    }  
    
    #pecaUm{
        width: 60px;
    }
    
    #pecaDois{
        width: 80px;
    }
    
    #pecaTres{
        width: 100px;
    }
    
     #pecaQuatro{
        width: 120px;
    }        

}

@media screen and (min-width: 1024px){

    .corpo-jogo{
        width: 380px;
    }
    
    #pecaUm{
        width: 80px;
    }
    
    #pecaDois{
        width: 100px;
    }
    
    #pecaTres{
        width: 120px;
    }
    
     #pecaQuatro{
        width: 140px;
    }        
}
